// ---- Form ----------

// Name
mixin inputName
  .feedback-form__input-container
    input(placeholder="Иванов Иван Иванович*" name="name" pattern="^[A-Za-zА-Яа-яЁё\\s]+$" autocomplete='off' maxlength='40' required )
    span.feedback-form__error

// Tel
mixin inputTel
  .feedback-form__input-container
    input(type='tel' name='phone' placeholder="+7(___)___-__-__*" data-tel-input='' pattern='.{18,}' maxlength='18'  autocomplete='off' required )
    span.feedback-form__error

// Email
mixin inputEmail
  .feedback-form__input-container
    input(type='email' name="email" maxlength='40' placeholder="example@email.ru*" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required )
    span.feedback-form__error

// Text
mixin inputText
  .feedback-form__input-container
    textarea( placeholder="Пожалуйста, введите запрос*" name="message" maxlength='200' rows="4" required)
    span.feedback-form__error




//--------------------------------

  // breadcrumbs
mixin breadcrumbs_icon
  svg(width="7" height="6" fill='#fff')
    use(href="./assets/img/sprite.svg#breadcrumbs")


// карточка партнера
mixin partnersItem(src)
  li.partners__item
    img.partners__logo(src=src)



// Карточка экскурсии (для слайдера)
mixin excursionsSlider (excursionData)
  each card in excursionData
    article.swiper-slide
      .excursion-card
        .excursion-card__image.open-form
          img(src=card.imgSrc)
          .excursion-card__badges
            span.excursion-card__badge=card.duration
        .excursion-card__content
          h3.excursion-card__title=card.title
          p.excursion-card__timetable
            span #{card.days}:
            | #{card.time}
          ul.excursion-card__description-list
            if card.descriptionList
              each descriptionItem in card.descriptionList
                li.excursion-card__description-item=descriptionItem
          .excursion-card__price
            span=card.price
            a.button.button--accent(href=card.link) Подробнее


// Карточка экскурсии
mixin excursions (excursionData)
  each card in excursionData
    article.excursion-card
      .excursion-card__image
        img(src=card.imgSrc)
        .excursion-card__badges
          span.excursion-card__badge=card.duration
      .excursion-card__content
        h3.excursion-card__title=card.title
        p.excursion-card__timetable
          span #{card.days}:
          | #{card.time}
        ul.excursion-card__description-list
          if card.descriptionList
            each descriptionItem in card.descriptionList
              li.excursion-card__description-item=descriptionItem
        .excursion-card__price
          span=card.price
          a.button.button--accent(href=card.link) Подробнее

